li {
    list-style: none;
}

.items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 1px solid #dbc4d6;    
    border-radius: 8px;
    min-width: 300px;
    padding: 22px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 26%);
}
.descricao{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.especf{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
