.nav {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
    background: rgb(104, 134, 82);
    border-radius: 0 0 8px 8px;
    color: #FFFF;
  }
  
  .nav h1{
      font-family:'Papyrus';
  
  }
  .nav button {
    background: #f597e1;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 14px 36px;
    color: #FFFF;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 16px;
  }
  
  .nav button:focus {
    outline: none;
  }
  
  .nav button:hover,
  .nav button:active {
    background: #df6ac5;
    box-shadow: 0 2px 10px #90BA2B;
  }
  